* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

li, a {
  font-weight: 50px;
  font-size: 20px;
  color: aqua;
  text-decoration: underline
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(54, 51, 51);
}

.navlinks {
  list-style: none;
  justify-content: flex-end;
}

.navlinks li {
  display: inline-block;
  padding: 0px 10px;
}


h1 {
  background-color: aqua;
  color: rgb(54, 51, 51);
  margin-right: auto;
}

.hero-banner {
display: flex;
background-image: url(02-hero-bg.jpg);
background-size: cover;
height: 200px;
justify-content: flex-end;
align-items: center;
}

h2 {
  background-color: aqua;
  color: rgb(54, 51, 51);
  margin-right: 50px;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
