* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

li, a {
  font-weight: 50px;
  font-size: 20px;
  color: rgb(244, 249, 249);
  text-decoration: underline
}

li, a:hover {
  color: #080808;
}

h3:hover {
  color: #2474a4;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #133950;
}

.navlinks {
  list-style: none;
  justify-content: flex-end;
}

.navlinks li {
  display: inline-block;
  padding: 0px 10px;
}


h1 {
  color: rgb(248, 243, 243);
  margin-right: auto;
}

.hero-banner {
display: flex;
background-image: url(lily2.png);
background-size: cover;
background-position: center;
height: 500px;
}

h2 {
  background-color: aqua;
  color: rgb(54, 51, 51);
  margin-right: 50px;
  margin-bottom: 20px;
}

.page-section {
display: flex;
height: 200px;
justify-content: space-around;
}

h3 {
  font-size: 40px;
}
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.am, .r, .portfolio {
  font-size: xx-large;
  background-color: #2474a4;
  text-decoration: solid;
  color: rgb(244, 240, 240);
  padding: 20px 20px;
}

.colourtab {
  background-color: #133950;
  width: fit-content;
  padding: 5px;
}

.amt, .rt {
  color: rgb(249, 247, 247);
  background-color: #133950;
  padding: 20px;
}

.main-grid {
  display: grid;
  width: 100%;
  height: 800px;
  margin-top: 1px;
  column-gap: 2px;
  row-gap: 1px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-columns:  0.6fr 1.1fr 1.3fr; 
  grid-template-areas:
    "am amt amt" 
    "r rt rt"   
    "portfolio first-image first-image"
    "portfolio second-image third-image"
    "portfolio fourth-image fifth-image"; 
  }

.am {
  grid-area: am;
} 

.amt {
  grid-area: amt;
}

.r {
  grid-area: r;
}

.rt {
  grid-area: rt;
  background-color: #133950;
}

.portfolio {
  grid-area: portfolio;
}

.text-wrapper {
  display: inline-block;
  background-color: rgb(1, 1, 1);
  color: white;
  margin: 5px 5px;
  padding: 2px 5px;
}

.first-image {
  grid-area: first-image;
  background-image: url(02-portfolio-1.jpg);
  background-size: cover;
}

.first-image:hover {
  grid-area: first-image;
  background-image: url(02-portfolio-1.jpg);
  background-size: cover;
  opacity:0.7;
}

.second-image {
  grid-area: second-image;
  background-image: url(02-portfolio-2.jpg);
  background-size: cover;
}
.second-image:hover {
  grid-area: second-image;
  background-image: url(02-portfolio-2.jpg);
  background-size: cover;
  opacity:0.7;
}
.third-image {
  grid-area: third-image;
  background-image: url(02-portfolio-3.jpg);
  background-size: cover;
}
.third-image:hover {
  grid-area: third-image;
  background-image: url(02-portfolio-3.jpg);
  background-size: cover;
  opacity:0.7;
}

.fourth-image {
  grid-area: fourth-image;
  background-image: url(02-portfolio-4.jpg);
  background-size: cover;
} 

.fourth-image:hover {
  grid-area: fourth-image;
  background-image: url(02-portfolio-4.jpg);
  background-size: cover;
  opacity:0.7;
}

.fifth-image {
  grid-area: fifth-image;
  background-image: url(02-hero-bg.jpg);
  background-size: cover;
}

.fifth-image:hover {
  grid-area: fifth-image;
  background-image: url(02-hero-bg.jpg);
  background-size: cover;
  opacity:0.7;
}

footer {
  background-color: rgb(0, 0, 0);
  color:rgb(247, 250, 250);
}

footer a {
  color:rgb(240, 246, 246);
  text-decoration: none;
  font-size: small;
}

footer a:hover {
  color: #2474a4;
}

.container {
  max-width: 1200;
  margin: 0 auto;
  padding: 20px;

}
.footer-main {
  display: flex;
  justify-content: space-evenly;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
  text-decoration: solid;
}

.footer-heading {
  margin: bottom;
  font-size:larger;
  text-decoration: underline;
}

.footer-link {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

.footer-bottom {
  justify-content: flex-end;
  margin-top: 10px;
}



